# Maven
target/
*.war
*.ear
*.nar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE & OS
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.DS_Store
Thumbs.db
*.log

# Assignment Brief PDF
assignment.pdf
